#recherchez {
	padding : 20px;
}
#recherchez fieldset {
  border : none;
}
#recherchez h2 {
	text-align : center;
}

#recherchez p input[type="text"] {
	size : 18em;
	display : block;
	height : 32px;
	width : 256px;
	margin : 50px auto 20px auto;
}

#recherchez form p {
	margin : 20px auto 20px auto;
}

#recherchez form > p label, #recherchez form fieldset p label:first-child, #recherchez form fieldset > label  {
	display : inline-block;
	width : 110px;
	text-align : right;
	margin-right : 10px;
}

#recherchez form fieldset p{
	width : 300px;
	text-align : left;
}

#recherchez form select {
	display : inline-block;
	width : 140px;
	text-align : left;
}

#recherchez fieldset {
	width : 350px;
	padding-top : 18px;
}

#recherchez form {
	text-align : center;
}