#selectionnez > div  {
	text-align : center;
	margin-bottom : 10px;
}


#selectionnez nav{
	text-align : center;
	margin-bottom : 20px;
}

#selectionnez > form > div > h4 { 
	padding:5px;
	text-align :center;
	font-size : 2em;
}
#selectionnez > form > div > p { 
	padding:5px;
}
#selectionnez > form > div > input { 
	padding:5px;
	text-align:center;
}

#selectionnez > form > div  {
	margin-bottom : 10px;
	margin-left : 30px;
	margin-right : 30px;
	border-style: solid;
	border-color : black;
	border-width : 1px;
	border-radius : 10px;
	padding : 10px;
}

#selectionnez > form > p  {
	margin-bottom : 20px;
	margin-left : 30px;
	margin-right : 0px;
}

#selectionnez div > p, #selectionnez div > h4, #selectionnez div > input{
	margin-top : 1px;
	margin-bottom : 1px;
	margin-left : 7px;
	margin-right : 7px;
}

#selectionnez > p  {
	margin-bottom : 20px;
	margin-left : 30px;
	margin-right : 0px;
}
