#activites, #hebergements, #transport , #nospacks {
	border : 1px solid black;
}

#activites section, #hebergements section, #transport section, #nospacks  section{
	margin : 32px;
	border : 1px solid black;
}

#activites  section > a, #activites > a, #hebergements section > a, #hebergements > a, #transport section > a, #transport > a, #nospacks section > a, #nospacks > a {
	display : inline-block;
	border : 1px solid black;
	width : 39%;
	height : 128px;
	margin : 20px 5% 20px 5%;
	vertical-align : bottom;
}

#activites section h2, #hebergements section h2, #transport  section h2, #nospacks section h2{
	margin : 10px;
}

#activites nav, #hebergements nav, #transport  nav, #nospacks nav{
	text-align : center;
	margin-top : 10px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*Annonce*/

#annonce h2, #annonce h3 {
	font-size:2em;
	text-align:center;
	margin-bottom:5px;
}

 
 input [type="submit"]{
 cursor:pointer;
}


.star {
        cursor : pointer;
        margin : 1px;
}
 
.yellowStar {
        margin : 1px;
        text-shadow : 0px 0px 5px #000;
        color : yellow;
		max-width : 10px;
}
 
.blackStar {
        margin : 1px;
        text-shadow : 0px 0px 5px #FFF;
        color : black;
		max-width : 10px;
}

#annonce #photo > form > input {
	position: absolute; 
	right:-10px;
	top:-10px;
}

#annonce #photo > form  {
	position: relative;
	display:inline-block;	
}

#annonce #photo img {
	border-radius:5px;
}

#annonce  #panier {
	position: absolute; 
	/*top:110px;*/
	/*top:55%;*/
	top:50px;
	left:82%;
}

#annonce >div {
	border : 1px solid black;
	border-radius:5px;
	margin-bottom:20px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}

#annonce #desc {
	position:relative;
}

#annonce  #commentaire  > div{
	margin-top:10px;
	position: relative;
}

#annonce  #commentaire  > div:not(:last-child) input{
	position: absolute;
	top:-9px;
	left:85%;
}

#annonce  #commentaire  > p{
	margin-bottom:10px;
}

#annonce  #commentaire nav input{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}


#annonce  #commentaire fieldset {
	border-color:#654009;
	border-radius:5px;
}