#modifierA form{
	/*border: 3px blue solid;*/
}

#modifierA label{
	

}

#modifierA p{
	margin:10px;
	padding:5px;
}

#modifierA h1 {
	margin: 10px;
}

#modifierA textarea {
	rows:1;
	height:1.5em;
}

#modifierA input[type=submit] {
	color:white;
	border : 1px solid white;
	background-color : #007F1A;
	box-shadow: inset 0px -1px 16px 3px #007F1A;
	border-radius : 5px;
	margin-top : 5px;
}

#modifierA a {
	padding:5px;
	color:white;
	border : 1px solid white;
	background-color : #1141B2;
	box-shadow: inset 0px -1px 16px 3px #1152B2;
	border-radius : 5px;
	/*margin: 20px 10px 10px 17px;*/
	margin-left:18px;
	margin-top : -10px;
	float : left;
}