#monpanier caption {
font-size : 24px;
}

#monpanier table {
border-collapse:collapse;
}

#monpanier th, #monpanier td {
border-style: solid;
border-width: 3px;
border-color:black;
text-align: center;
}

#monpanier p{
overflow:hidden;
height:109px;
}