#planifiez {
	min-height : 780px;
}

#planifiez ul {
	position : absolute;
	top : 64px;
	left : 16px;
	display : inline-block;
	min-width : 110px;
	height : 320px;
	overflow-y : scroll;
	border : 2px solid black;
	margin-right : 150px;
}

#planifiez ul li {
	background-color : #53AB2A;
	list-style-type : none;
	border-bottom : 1px solid black;
	width : 100px;
	min-height : 32px;
	position : relative;
}

#planifiez td {
	width : 100px;
}

#planifiez td li {
	background-color : #53AB2A;
	list-style-type : none;
	width : 100px;
	min-height : 32px;
	position : relative;
}

#planifiez ul li .handlePlus, #planifiez ul li .handleMoins {
	display : none;
}

#planifiez td li .handlePlus, #planifiez td li .handleMoins {
	position : absolute;
	background-color : #53AB2A;
	width : 30px;
	height : 16px;
	text-align : center;
	border-radius: 5px;
	border-bottom : 1px solid black;
}

#planifiez td li .handlePlus{
	bottom : -10px;
	left : 30px;
	cursor : s-resize;
}
#planifiez td li .handleMoins {
	bottom : -10px;
	left : 70px;
	cursor : n-resize;
}

#planifiez li a {
	position : absolute;
	top : 5px;
	right : 5px;
	width : 20px;
	height : 20px;
	text-align : center;
	text-decoration : none;
	border : 1px solid black;
}

#planifiez .draggable{
	cursor: move;
  
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
  
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#planifiez .dropper{
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

#planifiez .drop_hover {
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
}

#planifiez table {
	position : absolute;
	top : 64px;
	left : 180px;
	display : inline-block;
	border-collapse : collapse;
}

#planifiez th, td {
	border : 1px solid black;
	width : 128px;
	height : 32px;
	vertical-align : top;
}

#lol {
	display : none;
	width : 1024px;
	height : 1024px;
	background-color : white;
	position : fixed;
	left : 1289px;
}