

*:not(a)  > h3 {
	text-align:center;
	text-shadow: 0px 2px 2px #000, 2px 2px 2px #3A781D;
}

*:not(a) > h2 {
	text-align : center;
	text-shadow: 0px 5px 2px #000, -5px 5px 2px #3A781D, 5px 5px 2px #3A781D;
	font-size : 2.5em;
    margin-bottom : 16px;
}

#contact div p {
	margin: 0;
	text-align:center;
}

#accueil p, #contact p, #faq p {
	margin : 20px;
}

#recherchez, #selectionnez, #planifiez {
    border : 1px solid black;
    min-height : 256px;
    position : relative;
}


#etapes li {
    list-style-type: none;
    display : inline-block;
    margin-left : 10px;
	position : relative;
	min-width : 160px;
}

#etapes li a {
	width : 140px;
	display : inline-block;
	background-color: #3A781D;
	box-shadow: 0px -1px 10px 2px #000 inset;
	border-top : 1px solid black;
    border-right : 1px solid black;
    border-left : 1px solid black;
	padding : 6px 10px 6px 10px;
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}

li #currentEtape {
	box-shadow: 0px 4px 10px -5px #000 inset !important; 
	background-color: #A36C25 !important;
	background : linear-gradient(to bottom, #3A781D 50%, #A36C25 100%);
	position : absolute !important;
	top : -24px;
	height : 26px;
	z-index : 100;
}

li a:hover {
	background-color : #53AB2A !important;
}

#recherchez nav {
    position : absolute;
    left : -102px;
    top : 20px;
}

#recherchez nav li {
    list-style-type: none;
    margin-bottom : 10px;
	position : relative;
	height : 30px;
}

#recherchez li a{
	border-top : 1px solid black;
	border-left : 1px solid black;
	border-bottom : 1px solid black;
	background-color: #3A781D;
	box-shadow: 0px -1px 10px 2px #000 inset;
	border-top-left-radius : 5px;
	border-bottom-left-radius : 5px;
	padding : 6px 10px 6px 10px;
	width : 80px;
	display : inline-block;
}

#recherchez li #currentRecherche {
	box-shadow: 4px 0px 10px -5px #000 inset !important; 
	background-color: #A36C25 !important;
	background : linear-gradient(to right, #3A781D 50%, #A36C25 100%);
	position : absolute;
	left : 1px;
}

#recherchez li a:hover {
	background-color : #53AB2A !important;
}

#bonplans {
	margin-top : 30px;
	text-align : center;
}

#bonplans img {
    height : 128px;
}

#bonplans h3 {
    margin: 10px 10px 30px 10px;
	text-align : center;
}
#bonplans article {
	text-align : left;
    width : 32%;
	margin : 0.5%;
	height : 100%;
    display : inline-block;
    border : 1px solid black;
    padding-top: 5px;
	vertical-align : top;
	min-height : 300px;
}

#bonplans h4 {
	margin-bottom : 8px;
}

#bonplans p span {
	display : inline-block;
	width : 100px;
	text-align : right;
	font-weight : bold;
	margin-right : 5px;
}
