@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic");
@import url("http://fonts.googleapis.com/css?family=Lobster");

/**************************************************/
/********************* GLOBAL *********************/
/**************************************************/

* {
    margin : 0px;
    padding : 0px;
	/*z-index : 3;*/
	font-family : 'Roboto', sans-serif;
}

body {
	background-color : #654009 !important;
	background : url("img/sky.png") repeat-x top left, url("img/Ground.png") no-repeat bottom center, url("img/Foret.png") repeat-x bottom center;
	color : white;
}

a {
	color : #BFB; /* FCF ?*/
}

a:hover {
	color : #9D9; /* 5E0 ? */
}

body a {
    text-decoration: none;
}

#content > div {
	min-height : 350px;
}

/**************************************************/
/********************* HEADER *********************/
/**************************************************/

#content > header {
    margin-top : 20px;
    text-align : right;
}

#content > header h1 {
    text-align : left;
	margin : -10px -10px 0px 10px;
	color : white;
	font-family : 'Roboto', sans-serif;
	font-weight : normal;
}

#content header h1 span {
	font-family : 'Lobster', cursive;
	margin-right : 60px;
	font-size : 90px;
}

#langue {
    margin-right : 64px;
}

#langue img {
    height : 32px;
	vertical-align : middle;
}

#login a:not([href="?q=facebook"]) {
	margin : 4px;
	background-color : #2D6FE0;
	box-shadow: inset 0px -1px 16px 3px rgba(0,0,0,0.6);
	border-radius : 5px;
	padding : 10px 14px 10px 14px;
}

#login a:hover {
	background-color : #30A1F2;
}

#login a img {
	position : relative;
	bottom : 3px;
	left : 1px;
}

#login img {
    height : 32px;
	vertical-align : middle;
}

/**************************************************/
/********************* NAVBAR *********************/
/**************************************************/

#content > nav {
	margin-top : 120px;
	margin-bottom : 40px;
}

/* Premier niveau */

#content > nav > ul {
	display : block;
    text-align: center;
    margin : 20px;
}

#content > nav > ul > li {
    display : inline-block;
	margin : 4px;
    position : relative;
	vertical-align : top;
}

#content > nav > ul > li > *:first-child {
	padding : 10px 14px 10px 14px;
	display : inline-block;
	border : 1px solid black;

}

#content > nav > ul  li > a:first-child:hover {
	background-color : #53AB2A;
}

#content > nav > ul  li > *:first-child {
	border : 1px solid black;
	background-color : #3A781D;
	box-shadow: inset 0px -1px 16px 3px rgba(0,0,0,1);
	border-radius : 5px;
}

/* Deuxieme niveau */

#content > nav > ul  ul {
    display : none;
	position : absolute;
	width : 100%;
}

#content > nav > ul  li:hover > ul {
    display : block;
}

#content > nav > ul  ul > li {
	position : relative;
	text-align : center;
    list-style-type: none;
}

#content > nav > ul  ul > li > a {
	display : block;
	width : 100%;
}

/**************************************************/
/********************** DECO **********************/
/**************************************************/

#content > div {
	position : relative;
	padding : 20px;
	border :1px #3D2705 solid;
	background-color:#A36C25;
}

#content {
    max-width: 1024px;
    margin : auto;
}

#content  > div:before {
	display : block;
	position : absolute;
	/*top : 190px;*/
	top : 40%;
	left : -154px;
	content : " ";
	background : url("img/climbman.png") no-repeat;
	pointer-events : none;
	height : 390px;
	width : 256px;
	z-index : 50;
}

#cloud1 {
	top: -64px;
}

#cloud2 {
	top: 32px;
}

#cloud1, #cloud2 {
	position: absolute;
	left: -200px;
	opacity : 0.5;
	background-image : url('img/cloud.png');
	height : 128px;
	width : 256px;
	z-index : -5;
	pointer-events : none;
}

/**************************************************/
/********************* FOOTER *********************/
/**************************************************/

footer {
	position: relative;
	height: 80px;
	padding-top : 100px;
    text-align : center;
}

