@import url("global.css");
@import url("accueil.css");
@import url("annonce/annonce.css");
@import url("recherche/recherche.css");
@import url("compte/compte.css");
@import url("planning/planning.css");
@import url("recherche/resultatRecherche.css");
@import url("annonce/modifierAnnonce.css");
@import url("planning/panier.css");

/* A supprimer apres */

header nav {
	position : fixed;
	top : 0px;
	left : 0px;
	padding : 8px;
	text-align : left;
}
