#inscription form fieldset, #connexion form fieldset , #moncompte form fieldset{
	margin : 15px 0px 15px 0px;
	padding : 15px;
}

#inscription form fieldset input, #connexion form fieldset input,  #moncompte form fieldset input {
	display : inline-block;
	width : 256px;
	height : 20px;
	padding-left : 8px;
}

#inscription form fieldset label, #connexion form fieldset label,  #moncompte form fieldset label {
	display : inline-block;
	width : 48%;
	text-align : right;
	margin : 3px 10px 3px 0px;
}

#inscription input {
  border-radius:4px;
}
#inscription input:focus, #inscription input.focus, #connexion input:focus, #connexion input.focus  {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#inscription  p,  #connexion p {
	text-align:right;
}
#inscription  div div {
	text-align:center;
}

input {
	border-radius:4px;
}

input[type="submit"] {
	margin: 15px;
	padding:5px 10px 5px 10px;
	cursor:pointer;
}

#inscription  input[type="submit"], #connexion input[type="submit"] {
	margin-left:48%;
}

input:focus, input.focus  {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}




